[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-dotenv = "*"
butterfly_bot = {editable = true,path = "../src"}

[dev-packages]

[requires]
python_version = "3.9"
