[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-dotenv = "*"
# toggle editable = true for convenience when developing locally,
# but only commit with it set to false so Pipfile.lock can be
# relied on for deployment
butterfly_bot = {editable = false,path = "../lib"}
bump2version = "*"
discord-py-interactions = "*"

[dev-packages]

[requires]
python_version = "3.9"
